{% extends 'layout.html' %}

{% block content %}
<h3>{{ protein_name }}</h3>
<div class="card">
  <div class="card-body">
    <p id="protein_seq">{{ protein_seq|safe }}</p>
  </div>
</div>

<br>

<button id="notes" type="button" class="btn btn-outline-secondary">Play song</button>
<button id="sheet" type="button" class="btn btn-outline-secondary">See sheet music</button>

<div id="paper" align="center"></div>
{% endblock %}

{% block tags %}
<script type="text/javascript" src="https://unpkg.com/abcjs@5.1.2/bin/abcjs_basic_5.1.2-min.js"></script>
<script type="text/javascript">
  class Sound {
    constructor(context, tempo) {
      this.context = context;
      this.tempo = tempo || 60;
    }

    init() {
      this.oscillator = this.context.createOscillator();
      this.oscillator.type = 'sine';

      this.gainNode = this.context.createGain();
      this.gainNode.gain.value = 0.3;

      this.oscillator.connect(this.gainNode).connect(this.context.destination);
      this.gainNode.connect(this.context.destination);
    }

    play(value, offset, duration) {
      // Create the oscillator/gain/etc
      this.init();

      // Set the value for the note
      this.oscillator.frequency.value = value;

      // Account for tempo changes in the duration and offset
      duration = (duration || 1);
      offset = offset * 60 / this.tempo;

      // Calculate start and end time
      var noteStartTime = this.context.currentTime + offset;
      var noteEndTime = noteStartTime + duration;

      // Set the start time
      this.gainNode.gain.setValueAtTime(0, noteStartTime);
      this.oscillator.start(noteStartTime);

      this.gainNode.gain.linearRampToValueAtTime(1, noteStartTime + 0.025);

      // Set the end time
      this.stop(noteEndTime);
    }

    stop(time) {
      this.gainNode.gain.exponentialRampToValueAtTime(0.001, time - 0.025);
      this.oscillator.stop(time);
    }
  }

  // Get notes from server
  var notes = JSON.parse('{{ notes }}');
  var durations = JSON.parse('{{ durations }}');

  var context = new (window.AudioContext || window.webkitAudioContext)();
  document.getElementById('notes').addEventListener('click', function () {
    var tempo = '{{ tempo }}';

    // Can play up to three notes at a time for a chord
    var sound1 = new Sound(context, tempo);
    var sound2 = new Sound(context, tempo);
    var sound3 = new Sound(context, tempo);

    var currentOffset = 0;
    notes.forEach(function (note, index) {
      var duration = durations[index];

      sound1.play(note[0], currentOffset, duration);
      note[1] && sound2.play(note[1], currentOffset + 0.03, duration);
      note[2] && sound3.play(note[2], currentOffset + 0.06, duration);

      currentOffset += duration;
    });
  });

  document.getElementById('sheet').addEventListener('click', function () {
    var tempo = {{ tempo }} / 2
    const tune = 'X:1\nT: {{ sheet_name }}\nM: 4/4\nL: 1/8\nQ:1/4=' + tempo + '\nK: {{ key }}\n' + `{{ sheet_string }}`

    //"EBBA B2 EB|B2 AB dBAG|FDAD BDAD|FDAD dAFD|\nEBBA B2 EB|B2 AB defg|afe^c dBAF|DEFD E2 D2|DEFD E2 gf|\neB B2 efge|eB B2 gedB|A2 FA DAFA|A2 FA defg|\neB B2 eBgB|eB B2 defg|afe^c dBAF|DEFD E2 gf|DEFD E4|]\n"
    ABCJS.renderAbc("paper", tune);
  });
</script>
{% endblock %}
